[Unit]
Description=PCMS frontend service

[Service]
Type=simple
User=www-data
Group=www-data

Environment=PORT=6530
Environment=NODE_ENV=production

WorkingDirectory=/srv/sspbrnoweb-monorepo
ExecStart=/usr/bin/env pnpm start:frontend

Restart=always

[Install]
WantedBy=multi-user.target
