[Unit]
Description=PCMS Admin panel

[Service]
Type=simple
User=www-data
Group=www-data
Environment=PORT=6534
Environment=HOST=127.0.0.1
Environment=NODE_ENV=production
WorkingDirectory=/srv/sspbrnoweb/pcms-admin
ExecStart=/usr/bin/env pnpm start
Restart=always

[Install]
WantedBy=multi-user.target
